http://HOST:PORT/TYPE/bench/name1
http://HOST:PORT/TYPE/bench/name2
http://HOST:PORT/TYPE/bench/name3
http://HOST:PORT/TYPE/bench/name4
http://HOST:PORT/TYPE/bench/name5
http://HOST:PORT/TYPE/bench/name6
